/* .tagcloud {
    font-size: 16px;
  }
  .tagcloud--item {
    padding: 2px 4px;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .tagcloud--item:hover {
    background-color: rgba(0,0,0,.1);
    border: 1px solid #333;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1 !important;
    z-index: 100 !important;
  }
  .light .tagcloud--item {
    color: #fff;
  }
  .light .tagcloud--item:hover {
    background-color: rgba(255,255,255,.1);
    border: 1px solid #fff;
  } */