* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@black: #000;
@white: #fff;
@yellow: rgb(255, 255, 0);
@red: rgb(255, 0, 119);
@gray: rgb(130, 130, 130);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.lcw {
    margin: 0 auto;
    width: 75%;
}

.header {
    background-color: @white;
    color: @black;
    min-height: 40px;

    .header__menu {
        display: flex;
        align-items: center;
        background-color: @black;

        .nav {
            .nav__items {
                text-align: center;
                list-style-type: none;
                display: flex;
                justify-content: space-around;

                a {
                    text-decoration: none;
                    color: @white;

                    &:hover {
                        color: @red;
                    }
                }

                li {
                    padding: 10px 10px;
                }
            }
        }
    }

    .header__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;

        .header__menu-logo {
            cursor: pointer;
            display: flex;
            font-size: 30px;
            font-weight: bold;

            &:hover {
                color: @red;
            }
        }

        .header__text {
            font-size: 30px;

            &:hover {
                color: @red;
                cursor: pointer;
            }
        }

        .header__language {
            cursor: pointer;

            &:hover {
                color: @red;
            }
        }
    }

    .header__img {
        text-align: center;
    }

    .header__button {
        text-align: center;
        margin: 20px 0;

        .header__button-scroll {
            padding: 10px 30px;
            border: 0;
            border-radius: 20px;
            color: @red;
            background-color: @white;

            a {
                text-decoration: none;
                color: @red;
            }

            &:hover {
                color: @red;
                background-color: @black;
                cursor: pointer;
                transition: 2s;
            }
        }
    }
}

.about {
    background-color: @black;
    display: flex;

    .about__content {
        display: flex;
        justify-content: space-evenly;

        .about__img {
            img {
                max-width: 300px;
            }
        }

        .about__info {
            color: @white;
            text-align: center;
            padding: 30px 0;

            .about__title {
                padding: 20px 0;
                font-size: 30px;
                font-weight: bold;
            }

            .about__text {
                p {
                    padding: 10px 0;
                }
            }
        }
    }
}

.skills {
    padding-bottom: 30px;

    .skills__content {
        padding: 30px 0;

        .skills__title {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
        }

        .skills__text {
            text-align: center;
            padding: 20px 0;
        }
    }

    .skills__programs {
        display: flex;
        justify-content: space-around;

        .skills__item {
            text-align: center;

            &:hover {
                color: @red;
            }

            img {
                max-width: 100px;
            }

            .skills__item-text {
                padding: 20px 0;
            }
        }
    }
}

.portfolio {
    padding: 30px 0;
    background-color: @black;

    .pf__content {
        .pf__title {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            color: @white;
            padding: 20px 0;
        }

        .pf__case {
            .pf__case-img {
                text-align: center;

                img {
                    max-width: 80%;

                }
            }

            .pf__case-link {
                text-align: center;
                padding: 20px 0;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: @red;
                    }
                }
            }
        }
    }
}

.contacts {
    padding: 30px 0;
    text-align: center;

    .contacts__content {
        .contacts__title {
            padding: 20px 0;
            font-size: 30px;
            font-weight: bold;
            color: @black;
        }

        .contacts__text {}

        .contacts__button {
            padding: 20px 0;

            .contacts__btn {
                padding: 10px 30px;
                border: 0;
                border-radius: 20px;
                color: @white;
                background-color: @black;

                &:hover {
                    color: @red;
                    background-color: @black;
                    cursor: pointer;
                    transition: 2s;
                }
            }
        }

        .contacts__social {
            display: flex;
            justify-content: center;
            align-items: center;

            .social {
                padding: 0 10px
            }

            img {
                max-width: 30px;
            }
        }

        .contacts__copyright {
            padding: 20px 0;
            font-size: 12px;
        }
    }
}